{{ block title }}
    Instruktionen
{{ endblock }}
{{ block content }}
    <p>Hallo, willkommen zu diesem Experiment!</p>

    <p>Sie können hier am PC teilnehmen oder mit Ihrem Smartphone den untenstehenden QR-Code einscannen.</p>

    <p>{{ participant.code }}</p>

    <img src="{{ static 'images/frame.png' }}"/>

    <p>
        Sie können in diesem Experiment sogenannte ECU verdienen, die in einem regulären Experiment am KD²Lab
        zu einer festen Umtauschrate in € umgerechnet werden.
    </p>

    <p>
        Dieses Experiment besteht aus zwei Teilen. In beiden Teilen haben Sie die Möglichkeit ECU zu verdienen.
    </p>

    {{ next_button }}

{{ endblock }}
