{{ block title }}
    Ergebnisse
{{ endblock }}

{{ block content }}

    <p>
        Nun sehen wir uns gemeinsam die Ergebnisse an. Sie waren in der
        {{ if player.competition }}Wettbewerbsgruppe {{ else }} Akkordgruppe {{ endif }}.
    </p>

    <p>
        In der Wettbewerbsgruppe hat die teilnehmende Person mit den meisten gelösten Aufgaben in der Captcha Aufgabe
        600 ECU erhalten. Alle anderen in der Gruppe haben 0 ECU erhalten.
    </p>

    <p>
        In der Akkordgruppe hat jede teilnehmende Person 60 ECU pro gelöster Aufgabe erhalten.
    </p>

    <script src="{{ static 'js/Chart.bundle.min.js' }}"></script>

Gelöste Aufgaben in der Akkordgruppe
    <canvas id="myChart1" width="350" height="100"></canvas>
Gelöste Aufgaben in der Wettbewerbsgruppe
    <canvas id="myChart2" width="350" height="100"></canvas>

Ermogelte Aufgaben in der Akkordgruppe
    <canvas id="myChart3" width="350" height="100"></canvas>
Ermogelte Aufgaben in der Wettbewerbsgruppe
    <canvas id="myChart4" width="350" height="100"></canvas>

Beitrag zum Projekt in der Akkordgruppe
    <canvas id="myChart5" width="350" height="100"></canvas>
Beitrag zum Projekt in der Wettbewerbsgruppe
    <canvas id="myChart6" width="350" height="100"></canvas>

{{ endblock }}

{{ block scripts }}
    <script>
    var ctx = document.getElementById('myChart1').getContext('2d');

    var bin_data = []
    var player_bins1 = JSON.parse(js_vars.player_bins_effort_base)

    Object.keys(player_bins1).forEach(key => {
        bin_data.push(player_bins1[key])
    })

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: js_vars.bin_labels_effort_base,
            datasets: [{
                label: 'Anzahl der Personen in der Akkordgruppe',
                data: bin_data,
                backgroundColor: ['rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(91, 192, 222)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(91, 192, 222)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Gelöste Aufgaben'
                    }
                }]
            }
        }
    });
    </script>

    <script>
    var ctx = document.getElementById('myChart2').getContext('2d');

    var bin_data = []
    var player_bins2 = JSON.parse(js_vars.player_bins_effort_comp)

    Object.keys(player_bins2).forEach(key => {
        bin_data.push(player_bins2[key])
    })

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: js_vars.bin_labels_effort_comp,
            datasets: [{
                label: 'Anzahl der Personen in der Wettbewerbsgruppe',
                data: bin_data,
                backgroundColor: ['rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(91, 192, 222)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(91, 192, 222)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Gelöste Aufgaben'
                    }
                }]
            }
        }
    });
    </script>

    <script>
    var ctx = document.getElementById('myChart3').getContext('2d');

    var bin_data = []
    var player_bins3 = JSON.parse(js_vars.player_bins_cheat_base)

    Object.keys(player_bins3).forEach(key => {
        bin_data.push(player_bins3[key])
    })

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: js_vars.bin_labels_cheat_base,
            datasets: [{
                label: 'Anzahl der Personen in der Akkordgruppe',
                data: bin_data,
                backgroundColor: ['rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(91, 192, 222)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(91, 192, 222)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Ermogelte Aufgaben'
                    }
                }]
            }
        }
    });
    </script>

<script>
    var ctx = document.getElementById('myChart4').getContext('2d');

    var bin_data = []
    var player_bins4 = JSON.parse(js_vars.player_bins_cheat_comp)

    Object.keys(player_bins4).forEach(key => {
        bin_data.push(player_bins4[key])
    })

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: js_vars.bin_labels_cheat_comp,
            datasets: [{
                label: 'Anzahl der Personen in der Wettbewerbsgruppe',
                data: bin_data,
                backgroundColor: ['rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(91, 192, 222)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(91, 192, 222)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Ermogelte Aufgaben'
                    }
                }]
            }
        }
    });
    </script>

<script>
    var ctx = document.getElementById('myChart5').getContext('2d');

    var bin_data = []
    var player_bins5 = JSON.parse(js_vars.player_bins_contribution_base)

    Object.keys(player_bins5).forEach(key => {
        bin_data.push(player_bins5[key])
    })

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: js_vars.bin_labels_contribution_base,
            datasets: [{
                label: 'Anzahl der Personen in der Akkordgruppe',
                data: bin_data,
                backgroundColor: ['rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(91, 192, 222)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(91, 192, 222)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Beitrag zum Projekt'
                    }
                }]
            }
        }
    });
    </script>

<script>
    var ctx = document.getElementById('myChart6').getContext('2d');

    var bin_data = []
    var player_bins6 = JSON.parse(js_vars.player_bins_contribution_comp)

    Object.keys(player_bins6).forEach(key => {
        bin_data.push(player_bins6[key])
    })

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: js_vars.bin_labels_contribution_comp,
            datasets: [{
                label: 'Anzahl der Personen in der Wettbewerbsgruppe',
                data: bin_data,
                backgroundColor: ['rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(91, 192, 222)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(91, 192, 222)','rgba(2, 117, 216)','rgba(2, 117, 216)',
                                'rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)','rgba(2, 117, 216)'],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    },
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Beitrag zum Projekt'
                    }
                }]
            }
        }
    });
    </script>
{{ endblock }}


