{{ extends "global/Page.html" }}
{{ block title }}Anleitung Teil 2{{ endblock }}
{{ block content }}

        <p>
            In diesem Teil treffen Sie eine Entscheidung darüber wie viel ECU Sie zu einem gemeinsamen Projekt mit den
            Teilnehmenden aus dem vorherigen Teil beitragen wollen.
        </p>

        <p>
        Am Anfang haben Sie {{ C.ENDOWMENT }}. Sie können also jeden Betrag zwischen 0 ECU und {{ C.ENDOWMENT }} zum
            Projekt beitragen. Jeder ECU, den Sie dem Projekt beitragen erhöht die ECU im Projekt um {{ C.MULTIPLIER }}.
            Am Ende der Runde wird der Gesamtbetrag im Projekt zu gleichen Teilen an die {{ c }} Teilnehmenden in Ihrer
            Gruppe ausgezahlt.
    </p>

    {{ next_button }}

{{ endblock }}