{% block styles  %}
    <link href="{% static 'real_effort.css' %}" rel="stylesheet"/>
{% endblock %}

{{ block title }}
Captcha-Aufgabe
{{ endblock }}

{{ block content }}
<div class="d-flex flex-column align-items-center">
    <h3>
        Aufgabe <span id="iter-txt"></span>
    </h3>
    <p>Gelöst: <span id="solved-txt"></span>. Falsch: <span id="failed-txt"></span>.</p>
    <img class="captcha m-1" id="captcha-img">

    <div class="input-group m-1">
        <input type="{{ input_type }}" id="answer-inp" class="form-control"
               placeholder="{{ placeholder }}"
               autocorrect="off" autocapitalize="off" spellcheck="false">
        <button type="button" id="submit-btn" class="btn btn-outline-secondary">Absenden</button>
    </div>

    <p class="warn" id="warning-txt"></p>

    <button type="button" id="cheat-btn" class="btn btn-dark">Mogeln</button>

</div>
<br>
{{ include Constants.instructions_template }}

{{ endblock }}

{{ block scripts }}
<script src="{{ static 'real_effort.js' }}"></script>
<script src="{{ static 'real_effort_cheating.js' }}"></script>
{{ endblock }}
