<div class="card">
    <div class="card-body">
        <p>
            In diesem Teil bitten wir Sie eine Minute lang an Captcha-Aufgaben zu arbeiten.
            {{ if player.competition }}
                Wenn Sie die meisten Captcha-Aufgaben in Ihrer Gruppe lösen, dann gewinnen Sie und erhalten 600 ECU.
                Wenn Sie nicht die meisten Captcha-Aufgaben in Ihrer Gruppe lösen, dann verlieren Sie und erhalten 0 ECU.
            {{ else }}
                Für jede gelöste Captcha-Aufgabe erhalten Sie 60 ECU. Auch alle anderen Teilnehmenden in Ihrer Gruppe
                erhalten 60 ECU für jede gelöste Captcha-Aufgabe.
            {{ endif }}
            Am Ende erhalten Sie eine Information darüber, wie viele Aufgaben Sie gelöst haben und wie viele ECU Sie
            verdient haben.
        </p>
    </div>
</div>
