{{ block title }}
Ihr Ergebnis in Teil 1
{{ endblock }}

{{ block content }}

<p>
    Sie haben sich an {{ player.num_trials }} Aufgabe{{ if player.num_trials > 1 }}n{{endif}} versucht und davon {{ player.num_correct }} erfolgreich gelöst.
    Für {{ player.num_failed }} Aufgabe{{ if player.num_failed != 1 }}n{{endif}} haben Sie eine inkorrekte Lösung abgeschickt.
</p>

<p>
    {{ if player.competition }} Sie haben {{ if player.win == 1 }} die meisten Aufgaben in Ihrer Gruppe gelöst{{ else }} nicht die meisten Aufgaben in Ihrer Gruppe gelöst{{ endif }}.{{ endif }}
    Sie haben daher {{ player.payoff }} verdient.
</p>

    {{ next_button }}

{{ endblock }}
